# Xcode
#
# gitignore contributors: remember to update Global/Xcode.gitignore, Objective-C.gitignore & Swift.gitignore

## User settings
xcuserdata/

## compatibility with Xcode 8 and earlier (Xcode 9 wraps contents)
*.xcscmblueprint
*.xccheckout

## compatibility with Xcode 3 and earlier (Xcode 4 wraps contents)
# *.pbxuser
# !default.pbxuser
# *.mode1v3
# !default.mode1v3
# *.mode2v3
# !default.mode2v3
# *.perspectivev3
# !default.perspectivev3

## Xcode Derived Data
DerivedData/
build/

## Obj-C/Swift specific
*.hmap

## App packaging
*.ipa
*.dSYM.zip
*.dSYM

## Playgrounds
timeline.xctimeline
playground.xcworkspace

# Swift Package Manager
.build/
.swiftpm/xcode/package.xcworkspace/contents.xcworkspacedata

# CocoaPods
Pods/
*.xcworkspace
!default.xcworkspace

# Carthage
Carthage/Build/

# Fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/**/*.png
fastlane/test_output

# Code Injection
iOSInjectionProject/

# macOS
.DS_Store
